---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  {{/* This section has variables whose value is read from another object */}}
  
  {{/* This section has variables which in turn contain one or more mandatory variables */}}
  sunbird_sso_url: {{ if .Values.domain }}
  {{- .Values.domain }}{{ .Values.keycloak_auth_endpoint }}
  {{- else -}}
  {{- printf "ERROR | %s | Please provide a value for \"domain\"" .Chart.Name | fail }}
  {{- end }}
  
  sunbird_keycloak_user_federation_provider_id: {{ if .Values.sunbird_keycloak_user_federation_provider_id }}
  {{- .Values.sunbird_keycloak_user_federation_provider_id }}
  {{- else -}}
  {{- include "common.read.secret" (dict "ChartName" .Chart.Name "Namespace" .Release.Namespace "Name" .Values.external_secrets.keycloak_federation.name "Key" .Values.external_secrets.keycloak_federation.key "LocalDevelopment" .Values.local_chart_development) -}}
  {{- end }}

  sunbird_sso_client_secret: {{ if .Values.sunbird_sso_client_secret }}
  {{- .Values.sunbird_sso_client_secret }}
  {{- else -}}
  {{- include "common.read.secret" (dict "ChartName" .Chart.Name "Namespace" .Release.Namespace "Name" .Values.external_secrets.keycloak_client_secret.name "Key" .Values.external_secrets.keycloak_client_secret.key "LocalDevelopment" .Values.local_chart_development) -}}
  {{- end }}
  
  sunbird_sso_publickey: {{ if .Values.sunbird_sso_publickey }}
  {{- .Values.sunbird_sso_publickey }}
  {{- else -}}
  {{- include "common.read.secret" (dict "ChartName" .Chart.Name "Namespace" .Release.Namespace "Name" .Values.external_secrets.keycloak_realm_public_key.name "Key" .Values.external_secrets.keycloak_realm_public_key.key "LocalDevelopment" .Values.local_chart_development) -}}
  {{- end }}
  {{/* This section has optional variables */}}
  
  {{/* This section has variables with default values */}}
  CONTENT_SERVICE_PORT: {{ .Values.CONTENT_SERVICE_PORT }}
  ENV_NAME: {{ .Values.ENV_NAME }}
  LEARNER_SERVICE_PORT: {{ .Values.LEARNER_SERVICE_PORT | quote }}
  SUNBIRD_KAFKA_URL: {{ .Values.SUNBIRD_KAFKA_URL }}
  accesstoken.publickey.basepath: {{ .Values.accesstoken.publickey.basepath }}
  enable_tenant_config: {{ .Values.enable_tenant_config | quote}} 
  enable_userid_redis_cache: {{ .Values.enable_userid_redis_cache | quote }}
  groups_redis_ttl: {{ .Values.groups_redis_ttl | quote }}
  isMultiDCEnabled: {{ .Values.isMultiDCEnabled | quote }}
  max_activity_limit: {{ .Values.max_activity_limit | quote}}
  max_group_limit: {{ .Values.max_group_limit | quote }}
  max_group_members_limit: {{ .Values.max_group_members_limit | quote }}
  notification_service_api_url: {{ .Values.notification_service_api_url }}
  notification_service_base_url: {{ .Values.notification_service_base_url }}
  sunbird_cassandra_consistency_level: {{ .Values.sunbird_cassandra_consistency_level }}
  sunbird_cassandra_host: {{ .Values.sunbird_cassandra_host }}
  sunbird_cassandra_password: {{ .Values.sunbird_cassandra_password }}
  sunbird_cassandra_port: {{ .Values.sunbird_cassandra_port | quote }}
  sunbird_cassandra_username: {{ .Values.sunbird_cassandra_username }}
  sunbird_cs_search_url: "/v3/search"
  sunbird_keycloak_required_action_link_expiration_seconds: {{ .Values.sunbird_keycloak_required_action_link_expiration_seconds | quote }}
  sunbird_redis_host: {{ .Values.sunbird_redis_host }}
  sunbird_redis_port: {{ .Values.sunbird_redis_port | quote }}
  sunbird_sso_client_id: {{ .Values.external_secrets.keycloak_client_secret.key }}
  sunbird_sso_password: {{ .Values.sunbird_sso_password | quote }}
  sunbird_sso_realm: {{ .Values.external_secrets.keycloak_realm_public_key.key }}
  sunbird_sso_username: {{ .Values.sunbird_sso_username | quote }}
  sunbird_user_service_search_url: {{ .Values.sunbird_user_service_search_url }}
  user_redis_ttl: {{ .Values.user_redis_ttl | quote }} 
